<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.backgroundworker">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application>
        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            android:enabled="false"
            android:exported="false" />
        <service android:name=".BackgroundWorkerService"/>
    </application>

</manifest>
